.container-sider {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container-logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 80px;
  max-height: 80px;
}
.container-menu {
  padding-top: 50px;
  height: 90%;
}
