@import '../../../theme/scss/color.theme.scss';

.paragraph {
  color: black;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
}

.d-block {
  display: block;
}
