$colors-secondary: #ffffff;
$colors-primary: #f8a11e;
$colors-title: #000000;
$colors-text: #555555;
$colors-black: #000000;
$colors-white: #ffffff;
$colors-brightGrey: rgb(240, 240, 240);
$colors-lightGrey: #e8e8e8;
$colors-error: #ed6c60;
$colors-warning: #fcc12d;
$colors-success: #74c365;
$colors-bg-secondary: #fafafa;
